.titulo{
    color: rgb(159, 116, 199);
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}

.titulo2{
    color:rgb(36, 148, 14);
    font-size:90px;
    font-family: 'Times New Roman', Times, serif;
}
.subtitulos{
    color:rgb(38, 151, 216);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.subtitulos2{
    color:rgb(91, 164, 206);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.fondo{
    background-color:blanchedalmond;

}

.enlace{
    background-color:aquamarine;
    color: black;
    font-size:600xp ;
}


